<div class="p-2">
  <div class="card">
    <div class="card-header">
      <% if (locals.user && locals.user.id==post.user.id){ %>
      <a href="/posts/destroy/<%= post.id %>"
        ><i class="fa fa-trash" style="color: #fa0000"></i
      ></a>
      <% } %> Post
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= post.content %></p>
        <footer class="blockquote-footer"><%= post.user.name %></footer>
      </blockquote>
    </div>

    <div class="post-comments">
      <p>
      <button
      class="btn btn-light ms-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseExample<%= post._id%>"
      aria-expanded="false"
      aria-controls="collapseExample"
      >
      Comments
    </button></p>
    <div class="collapse" id="collapseExample<%= post._id%>">
      <% if (locals.user){ %>
        <form action="/comments/create" method="POST" class="mb-2 ms-2 row g-2">
            <div class="col-auto">

              <input class="form-control" type="text" name="content" placeholder="Add Comment..." required >
            </div>
          <input type="hidden" name="post" value="<%= post._id %>" />
            <div class="col-auto">

              <button type="submit" class="btn btn-light">Add</button>
            </div>
        </form>
      
        <% } %>
        <ul class="list-group" id="post-comments-<%= post._id %>">
          <% for (comment of post.comments){%>
            <div class="card card-body align-items-start m-1">
            <%- include('_comment') -%>
          </div>
          <%} %>
        </ul>

    </div>
    
      <div class="post-comments-list">

      </div>
    </div>
  </div>
</div>
